{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Vecy</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>
    <div class="container">

        <img src="{% static 'img/fosca.jpg' %}" alt="Imagen">

        <div class="contenido"></div>

        <div class="form">
            <div class="form-header">
                <h2>Iniciar Sesión</h2>
            </div>

            <div class="form-body">
                <form method="POST" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="text" id="correo" name="correo" placeholder=" " required>
                        <label for="correo">Usuario</label>
                        <i class="fas fa-user iconf"></i>
                    </div>

                    <div class="input-group">
                        <input type="password" id="contrasena" name="contrasena" placeholder=" " minlength="8" required>
                        <label for="contrasena">Contraseña</label>
                        <i class="fas fa-lock iconf"></i>
                    </div>

                    <!-- Errores -->
                    <div class="errores">
                        {% for mensaje in messages %}
                        {% if 'contrasena' in mensaje.tags or 'correo' in mensaje.tags %}
                        <p class="error">{{ mensaje }}</p>
                        {% endif %}
                        {% endfor %}
                    </div>


                    <div class="login-button">
                        <button type="submit" class="btn-submit">Ingresar</button>
                    </div>

                    <div class="registro">
                        <p>¿No tienes una cuenta?
                            <a href="{% url 'registro_user' %}">Regístrate aquí</a>
                        </p>
                    </div>

                </form>
            </div>

        </div>
    </div>
</body>

</html>