{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <title>Principal | Cliente</title>
</head>

<body>
    <div class="container">
        <div class="cliente_header">
            <img src="{% static 'img/fosca.jpg' %}" alt="" />
            <div class="efecto_vidrio">
                <h1>Encuentra lo que necesitas en Fosca</h1>
                <p>Descubre negocios, productos y servicios cerca de ti.</p>
                <button onclick="window.location.href='{% url 'principal' %}'" class="ex_neg">
                    Explorar negocios
                </button>
            </div>
        </div>
    </div>
</body>

</html>