:root {
    --colorP: #55AD9B;
    --coloPrgba: rgba(85, 190, 156, 0.15);
    --colorM: #95D2B3;
    --colorB: #D8EFD3;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 50% !important;
    box-shadow: 0px 12px 15px rgba(0, 0, 0, 0.15);
    padding: 40px;
    border-radius: 10px;
}
.container h2 {
    font-weight: bold;
    font-size: 30px;
}
.cardProds img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.cardProds img:hover {
    transform: scale(1.05);
}
.prodCarrito .cardProds {
    margin-top: 20px;
}
.cardProds {
    box-shadow: 0px 12px 15px rgba(0, 0, 0, 0.15);
    padding: 10px;
    border-radius: 10px;
    display: grid;
    box-sizing: border-box !important;
    grid-template-columns: 20% 40% 40%;
    width: 100%;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    overflow: hidden;
}
.cardProds:hover {
    transform: translateY(-5px)
}
.cardProds .indicaciones {
    width: 100%;
    padding: 10px;
}
#nom {
    font-size: 20px;
    font-weight: 900;
}
#cant {
    background-color: var(--colorP);
    color: white;
    padding: 5px;
    border-radius: 100%;
    margin-left: 10px;
}
.subtotal {
    width: 100%;
}
.subtotal h5 {
    font-weight: bold;
    color: var(--colorM);
    font-size: 30px;
}
#sub {
    font-weight: bold;
    font-size: 25px;
}
.totalCarrito {
    width: 100%;
    padding: 20px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.totalCarrito #tot {
    font-size: 20px;
    font-weight: bold;
    color: var(--colorM);
}
.totalCarrito #total {
    font-size: 25px;
    margin-left: 10px;
    font-weight: bold;
    background-color: var(--colorM);
    color: white;
    padding: 10px;
    border-radius: 10px;
}
.rowPagos {
    display: flex;           
    flex-wrap: wrap;        
    gap: 10px;             
    justify-content: flex-start;
    align-items: center;   
}
.rowPagos .nequi img, .rowPagos .tarjeta img , .rowPagos .daviplata img, .rowPagos .entrega img{
    width: 50px;
    border-radius: 50%;
    height: 50px;
    object-fit: cover;
}
.rowPagos .tarjeta, .rowPagos .nequi, .rowPagos .daviplata, .rowPagos .entrega {
    position: relative;
}
.rowPagos .tarjeta span, .rowPagos .nequi span, .rowPagos .daviplata span, .rowPagos .entrega span{
    opacity: 0;            
    visibility: hidden;      
    transition: opacity 0.3s ease;
    position: absolute;    
    top: 100%;      
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0,0,0,0.7);
    color: white;
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 0.8rem;
    white-space: nowrap;
}

.rowPagos .tarjeta:hover span, .rowPagos .nequi:hover span, .rowPagos .daviplata:hover span, .rowPagos .entrega:hover span{
    opacity: 1;
    visibility: visible;
}
#methodContainer {
  display: block !important;
}
