:root {
    --colorP: #55AD9B;
    --colorM: #95D2B3;
    --colorB: #D8EFD3;
}
* {
    box-sizing: border-box;
}
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: none;
}

.container img {
    width: 100%;
    object-fit: cover;
}
.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    width: 30%;
    border-radius: 10px;
    color: white;
    box-sizing: border-box;
    padding: 20px;
    animation: transitionIn 1s ease-in-out;
}
@keyframes transitionIn {
    0% {
        opacity: 0;
        margin-top: -50px;
    }
    100% {
        opacity: 1;
        margin-top: 0;
    }
    
}
.form-header {
    text-align: center;
    margin-bottom: 50px;
}
.form-header h2 {
    margin: 0;
    font-size: 2em;
    font-weight: 900;
}
.input-group {
    position: relative;
    margin-top: 30px;
}
.input-group input, .input-group select {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    outline: none;
}
.input-group select {
    font-size: 16px;
}
option{
    color: black;
}
.input-group label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: white;
    pointer-events: none;
    transition: 0.3s;
}
.input-group input:focus ~ label {
    top: -10px;
    left: 5px;
    font-weight: bold;
    color: var(--colorM);
}
.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
    top: -10px;
    left: 5px;
    font-weight: bold;
}
.iconf {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: white;
}
.contrasena {
    display: grid;
    grid-template-columns: 48% 48%;
    gap: 16px;
}
.contrasena c1 {
    grid-column: 1;
}
.contrasena c2 {
    grid-column: 2;
    font-size: 0.9em;
}
.contenido {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
}
.login-button {
    text-align: center;
    width: 100%;
    margin-top: 20px;
}
.login-button .btn-submit {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--colorP);
    color: white;
    font-size: 1em;
    cursor: pointer;
    width: 50%;
    backdrop-filter: blur(5px);
    transition: background-color 0.3s ease;
}
.registro {
    text-align: center;
}
.registro a {
    color: var(--colorP);
    font-weight: bold;
}