:root {
    --colorP: #55AD9B;
    --colorM: #95D2B3;
    --colorB: #D8EFD3;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

.containerv {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: none;
}

.containerv .img_fondo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
    mask-repeat: no-repeat;
    mask-size: cover;
}

.contenido {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
}

.header .input-group1 {
    position: relative;
    width: 30%;
    transform: translateX(-5%);
    margin-right: 100px;
}

.input-group1 .input {
    padding: 6px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: black;
    outline: none;
    width: 100%;
}

.input-group1 .iconl {
    position: absolute;
    top: 0px;
    left: 425px;
    cursor: pointer;
    padding: 10px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: var(--colorP);
}

.menu-desplegable {
    transform: translateX(-150%);
    cursor: pointer;
}

.menu-desplegable:hover {
    color: var(--colorM);
}

.iconm {
    margin-right: 10px;
}

.logo {
    transform: translateX(-200%);
    font-weight: 900;
    font-size: 20px;
}

.iniSesion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.iniSesion a:hover {
    text-decoration: underline;
    color: var(--colorM);
}

.iniSesion i:hover {
    background-color: var(--colorM);
    border-radius: 50%;
    color: white;
    padding: 5px;
    transition: padding 0.3s ease-in-out;
}

.headerM {
    background-color: var(--colorP);
    color: white;
}

.headerM h5 {
    font-weight: 900;
    font-size: 25px;
    letter-spacing: 2px;
}

.bodyM {
    background-color: rgba(0, 0, 0, 0.95) !important;
    backdrop-filter: blur(10px);
}

.bodyM .cat {
    font-weight: 900;
    color: var(--colorM);
    margin-bottom: 500px !important;
}

#menuLateral {
    width: 300px !important;
}

li {
    padding: 5px;
}

li a {
    text-decoration: none;
    color: gray;
}

li:hover {
    background-color: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(10px);
}

li:hover .categorias {
    text-decoration: underline;
    color: white !important;
}

.offcanvas-body::-webkit-scrollbar {
    width: 6px;
}

.offcanvas-body::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

.offcanvas-body::-webkit-scrollbar-thumb {
    background-color: var(--colorM);
    border-radius: 10px;
    border: 2px solid transparent;
}

.offcanvas-body::-webkit-scrollbar-button {
    display: none;
}

.anuncio {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

marquee {
    background-color: var(--colorP);
    height: 5vh;
    width: 90%;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.header {
    position: fixed;
    top: 0;
    height: 10vh;
    right: 0;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    animation: trans 2s ease forwards;
    z-index: 3;
    background-color: black;

}
.rowNegs {
    display: flex;        
    flex-wrap: wrap;        
    justify-content: center;  
    gap: 20px;              
}
.negs {
    width: 100%;
    text-align: center;
}

.cardN {
    width: 280px;
    background-color: white;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    transition: all 0.2s ease-in-out;
    position: relative;
}

.cardN img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.cardN:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 24px rgba(85, 173, 155, 0.3);
}

.cardN-body {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.cardN:hover i {
    background-color: var(--colorP);
    border-radius: 50%;
    color: white;
    padding: 5px;
    transition: all 0.5s ease-in-out;
}

.calificacion {
    width: 120px;
    height: 120px;
    background: radial-gradient(circle at 30% 30%, #95D2B3, #55AD9B);
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.calificacion p {
    position: absolute;
    top: 35%;
    left: 10%;
    font-size: 25px;
    margin: 0;
}

.calificacion::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: repeating-conic-gradient(from 0deg,
            #55AD9B 0deg 10deg,
            #95D2B3 10deg 20deg);
    mask: radial-gradient(circle, transparent 55%, black 56%);
}

.verP {
    font-weight: bold;
    margin-top: 20px;
}

.verP a {
    width: 50%;
    background-color: rgba(0, 0, 0, 0.95);
    backdrop-filter: blur(10px);
    color: white;
    border: none;
    text-decoration: none !important;
    padding: 5px;
}

@keyframes trans {
    0% {
        opacity: 0;
        margin-top: -50px;
    }

    100% {
        opacity: 1;
        margin-top: 0;
    }
}

.header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.menu .item1 {
    margin-right: 50px;
}

.item_menu {
    padding: 10px;
    position: relative;
}

.i1:hover {
    color: var(--colorM);
}

.i2:hover {
    color: orange;
}

.i3:hover {
    color: gray;
}

.i4:hover {
    color: red;
}


.item_menu::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease;
}

.item_menu:hover::after {
    width: 100%;
}

.men_ini {
    position: absolute;
    background-color: transparent;
    width: 100%;
    left: 100px;
    color: white;
    top: 200px;
}

.men_ini h1 {
    font-size: 60px;
    margin-bottom: 20px;
    animation: trans 3.5s ease forwards;
}

.men_ini p {
    font-size: 20px;
    margin-bottom: 30px;
    animation: trans 4s ease forwards;
}

.info {
    border: none;
    padding: 15px 30px;
    color: white;
    margin-top: 20px;
}

.btn1 {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
    width: 300px;
    padding: 20px;
    margin-right: 10px;
}

.btn2 {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
    width: 300px;
    padding: 20px;
}

.main {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    box-sizing: border-box;
}

.categoriaNeg {
    width: 92%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    text-align: start;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.categoriaNeg h4 {
    font-size: 25px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.85);
}

.rowP {
    width: 100%;
    position: relative;
    padding: 40px 20px;
    background: white;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    z-index: 1;
}


.rowP::before,
.rowP::after {
    content: "";
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: radial-gradient(circle, #55AD9B, #95D2B3);
    filter: blur(60px);
    opacity: 0.7;
    animation: mover 10s ease-in-out infinite alternate;
    z-index: 0;
}

.rowP::before {
    top: -100px;
    left: -100px;
}

.rowP::after {
    bottom: -100px;
    right: -100px;
}

@keyframes mover {
    0% {
        transform: scale(1) translate(0, 0);
    }

    50% {
        transform: scale(1.2) translate(20px, 20px);
    }

    100% {
        transform: scale(1) translate(0, 0);
    }
}

.sombra {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    position: absolute;
    left: 0px;
    top: 0;
    width: 100%;
    height: 40vh;
}

.cardC {
    width: 180px;
    height: 200px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    text-align: center;
    padding: 15px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(5px);
    z-index: 2;
}

.cardC:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 18px rgba(85, 173, 155, 0.3);
}

.cardC img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
}

.cardC h6 {
    margin-top: 10px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 700;
}

.cardC:hover h6 {
    text-decoration: underline;
    cursor: pointer !important;
    color: var(--colorP);
}

.footer {
    background: var(--colorP);
    color: #fff;
    padding: 40px 10%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.footer-section h3 {
    margin-bottom: 15px;
    color: white;
    font-size: 20px;
}

.footer-section p,
.footer-section ul,
.footer-section li {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #ddd;
    font-size: 15px;
}

.footer-section ul li a {
    color: #ddd;
    text-decoration: none;
}

.footer-section ul li a:hover {
    color: var(--colorM);
}

.social-icons a {
    display: inline-block;
    margin-right: 12px;
    font-size: 20px;
    color: #fff;
    transition: 0.3s;
}

.social-icons a:hover {
    color: var(--colorM);
    transform: scale(1.2);
}

.footer-bottom {
    background: var(--colorP);
    text-align: center;
    padding: 15px;
    color: white;
    font-size: 14px;
    width: 100%;
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        text-align: center;
    }

    .social-icons a {
        margin: 0 8px;
    }
}

.dropdown .dropdown-menu {
    padding: 0;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.15) !important;
    backdrop-filter: blur(10px) !important;
    border-radius: 10px !important;
    text-align: center;
}

.dropdown-item {
    color: white !important;
    border-radius: 10px !important;
    padding: 10px;
}

.dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.15) !important;
}

.dropdown-toggle::after {
    display: none !important;
}

.filtrarN {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.filtrarN input {
    width: 50%;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.45);
    background-color: transparent;
}

.select2-results__option {
    color: black !important;
}

.select2-search__field {
    background-color: white !important;
    color: black !important;
}

select {
    background-color: transparent;
    border: none;
    margin-left: 10px;
}

.estado p {
    display: inline-block !important;
    color: white;
    background-color: var(--colorP);
    border-radius: 20px;
    width: 20%;
    text-align: center;
}